<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pdsw.project.dao.mybatis.mappers.IntentionMapper">
    
    <resultMap type='Intention' id='IntentionResult'>
        
        <!-- TODO ALL -->
        
        <id property='id' column='id'/>        
        <result property='estado' column='estados_idEstado'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaCreacion' column='fechaCreacion'/>
        <result property='area' column='area'/>
        <association property='autor' javaType="Usuario" resultMap='pdsw.project.dao.mybatis.mappers.UserMapper.UserResult'/>
        <collection property="palabrasClave" ofType="java.lang.String"></collection>        
        <collection property="comentarios" ofType="Comentario" resultMap="pdsw.project.dao.mybatis.mappers.CommentMapper.CommentResult"></collection>
    </resultMap>
    
    
    <insert parameterType="map" id="addIntention">
    	INSERT INTO iniciativas values(#{i.id},#{i.estado},#{i.autor.documento},#{i.nombre},#{i.descripcion},#{i.fechaCreacion}, string_to_array(#{i.palabrasClave},','),#{i.area});   	
    </insert>
    
  </mapper>

