<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.IntentionMapper">
    
    <resultMap type='Intention' id='IntentionResult'>
        <id property='id' column='id'/>
        <result property='titulo' column='title' />
        <result property='estado' column='state'/>        
        <result property='descripcion' column='content'/>     
        <result property='fechaCreacion' column='date_of_creation'/>
        <!--<association property='autor' javaType="User" resultMap='pdsw.project.dao.mybatis.mappers.UserMapper.UserResult'/>
        <collection property="palabrasClave" ofType="java.lang.String"></collection>        
        <collection property="comentarios" ofType="Comentario" resultMap="pdsw.project.dao.mybatis.mappers.CommentMapper.CommentResult"></collection>-->
    </resultMap>
    
    <select id="consultarAll" resultMap="IntentionResult">
        SELECT 
            id,
            state,
            content,
            date_of_creation,
            title
        FROM intention
    </select>
    
    
    <insert parameterType="map" id="addIntention">
    	INSERT INTO iniciativas values(#{i.id},#{i.estado},#{i.autor.documento},#{i.nombre},#{i.descripcion},#{i.fechaCreacion}, string_to_array(#{i.palabrasClave},','),#{i.area});   	
    </insert>
    
  </mapper>

